@import url(http://fonts.googleapis.com/css?family=Mako);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

#banner{
    width: 100%;
    background-color:rgb(99, 187, 99);
    height:100px;
    color: white;
    margin-top: 10px;
    display: table;
}
#header{
    padding: 50px 100px ;
    vertical-align: middle;
}
body{
    font: normal 14px/100% 'Mako', sans-serif;
    transition: 0.3s;
}
ul{
    padding: 0%;
    width: 20%;
    float: left;
    display: table-cell;
    position: absolute;
}

li.table-left{
    background-color: rgb(156, 125, 228);
    text-align: left;
    list-style: none;
    border: 1px solid rgb(231, 231, 231);
    padding: 13px;
    transition: 0.2s;
}
li a{
    color: white;
    text-decoration: none;
    display: block;

}
li.table-left:hover{
    background-color: rgb(180, 159, 228);
}
#paragraf-1{
    display: table-cell;

    width: 80%;
    padding-left: 15px;
    margin-top: 0%;
    padding-right: 10px;
}

#middle-p{
    margin: 30px;
    border-left: 5px solid green;
    padding: 10px;
    background-color: rgb(243, 243, 243);

}
.font-size3{
    font: 16px/25px arial, serif;
}
#main-a{
    display: table;
}
ol li{
    padding: 5px;
}
#ol-t{
}
#column-1{
    float: left;
    width: 50%;
}
#column-2{
    float: left;
    width: 50%;

}
